/* The wrapper div (note: ie7 hack at bottom of file) */
.datePicker{
position:absolute;
width:15em;
z-index:9999;
text-align:center;
font:900 10px/12px;
background:transparent;
}
/* The button created beside each input. (position:relative required for correct positioning of datePicker in IE) */
.date-picker-control{
position:relative;
border:0 none;
padding:0;
margin-left:4px;
background:transparent url(../images/icn-cal.png) no-repeat 0 0;
width:16px;
height:16px;
margin-top:0;
vertical-align:top;
cursor:pointer;
}
/* The next & previous buttons */
.datePicker th button{
display:inline;
padding:0;
margin:0;
color:#000;
height:1em;
width:1em;
line-height:1em;
border-width:0;
background:transparent;
font-weight:bold;
cursor:pointer;
}
.datePicker th button:active,
.datePicker th button:focus,
.date-picker-control:active,
.date-picker-control:focus,
.datePicker th button.disabled{
outline:none !important;
}
span.month-display,
span.year-display{
text-transform:uppercase;
letter-spacing:1px;
}
.datePicker th button.prev-but{
text-align:left;
font-size:1.6em;
}
.datePicker th button.next-but{
text-align:right;
font-size:1.6em;
}
.datePicker th button.today-but{
text-align:center;
margin:0 auto;
height:auto;
width:auto;
text-decoration:none;
line-height:1.6em;
}
.datePicker th button.disabled{
color:#aaa;
cursor:default;
}
/* The mon, tue, wed etc day buttons */
.datePicker th button.fd-day-header{
text-align:center;
margin:0 auto;
height:auto;
width:auto;
text-decoration:none;
line-height:1.4em;
}
/* The table */
.datePicker table{
position:relative;
margin:0;
padding:0;
border:1px solid #ccc;
background:#f6f6f6 repeat-x 0 0px;
text-align:center;
width:100%;
}
/* Common TD & TH styling */
.datePicker table td{
border: 1px solid #ccc;
padding:3px;
cursor:default;
background:#fff url(../images/fond_li.png) repeat-x 0 0px;
}
.datePicker table th{
border:0 none;
padding:0;
line-height:1em;
font-weight:bold;
color:#222;
text-align:center;
background:#fff url(../images/fond_titre.png) repeat-x 0 0;
border-bottom:1px solid #ccc;
}
.datePicker table thead th.date-picker-title{
padding:0.4em 0;
background:#fff url(../images/fond_titre.png) repeat-x 0 0px;
}
/* The "mon tue wed etc" day header button styles */
.datePicker table th.date-picker-day-header{
text-transform:lowercase;
background:#fff url(../images/fond_titre.png) repeat-x 0 -5px;
}
/* The "selected date" style */
.datePicker table td.date-picker-selected-date{
color:#333 !important;
border-color:#333 !important;
}
/* the "highlight days" style */
td.date-picker-highlight{
color:#a86666;
}
/* The "active cursor" style */
.datePicker table td#date-picker-hover{
background:#fff url(../images/fond_li.png) no-repeat 0 0;
cursor:pointer;
border-color:rgb(100,130,170);
color:rgb(100,130,170);
}
