h1, h2, h3, h4, h5, form, ul, ol, li {
	margin:0;
	padding:0;
}
body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding:0;
	margin:0;
	line-height:13px;
}
a img{
	border: none;
}
#header{
	background-color: #666;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(100, 100, 100, 1)), to(rgba(80, 80, 80, 1)));
	background-image: -moz-linear-gradient(top,                    rgba(100, 100, 100, 1),     rgba(80, 80, 80, 1));
	text-shadow:0 1px 0 rgba(255,255,255,.2);
	height:90px;
	padding:0 30px;
	position:fixed;
	top:0;
	width:100%;
}
h1{
	margin-top:37px;
	font-size:32px;
	float:left;
}
h1 .version{
	font-size:16px;
	font-weight:normal;
}
h1 a{
	color:#000;
	text-decoration:none;
}
#menu{
	float:left;
	list-style-type: none;
	margin: 34px 0 10px 40px;
	padding: 0;
}
#menu li{
	display:inline;
}
#menu li a{
	padding:5px 10px;
	-moz-border-radius:     15px;
	-webkit-border-radius:  15px;
	border-radius:          15px;
	background-color: #CCC;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(180, 180, 180, 1)), to(rgba(140, 140, 140, 1)));
	background-image: -moz-linear-gradient(top,                    rgba(180, 180, 180, 1),     rgba(140, 140, 140, 1));
	
	text-shadow:0 1px 0 rgba(255,255,255,.3);
	display:block;
	float:left;
	text-decoration:none;
	color: #111;
	margin-right:10px;
}
#menu li a:hover{
	background-color: #EEE;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(220, 220, 220, 1)), to(rgba(190, 190, 190, 1)));
	background-image: -moz-linear-gradient(top,                    rgba(220, 220, 220, 1),     rgba(190, 190, 190, 1));
	color: #000;
}
#menu li a:active{
	background-color: #999;
	color: #111;
}

/* Onglets */
#onglets{
	background-color:#FFFFFF;
	font-family:verdana,arial,helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
	height:36px;
	line-height:25px;
	list-style-type:none;
	padding-left:30px;
	padding-top:15px;
	position:fixed;
	top:115px;
	width:100%;
}
#onglets li{
	float:left;
	margin-right:1px;
	padding-top:11px;
}
#onglets a{
	background-color:#EEEEEE;
	text-shadow:0 1px 0 rgba(255,255,255,1);
	color:#666666;
	display:block;
	padding:0 10px;
	text-decoration:none;
	-moz-border-radius-topleft:      4px;
	-webkit-border-top-left-radius:  4px;
	border-top-left-radius:          4px;
	-moz-border-radius-topright:     4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius:         4px;
}
#onglets a:hover {
	background-color:#ddd;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(230, 230, 230, 1)), to(rgba(221, 221, 221, 1)));
	background-image: -moz-linear-gradient(top,                    rgba(230, 230, 230, 1),     rgba(221, 221, 221, 1));
}
#onglets a:active {
	color:#333;
}
#onglets .actif {
	padding-top:4px;
	line-height:32px;
	font-size:13px;
}
#onglets .actif a {
	padding:0 15px;
	background-color:#ddd;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(230, 230, 230, 1)), to(rgba(221, 221, 221, 1)));
	background-image: -moz-linear-gradient(top,                    rgba(230, 230, 230, 1),     rgba(221, 221, 221, 1));
	color:#111;
}

table{
	line-height:26px;
	width:100%;
	border-collapse: collapse;
	background:#FFF;
}
tr{
	border-top: none;
}
table a{
	color: #333;
}
table a:hover{
	color: #666;
}
.contenu{
/*	margin-bottom:25px;*/
}
th,td{
	padding: 0 10px;
	text-align: left;
	white-space: nowrap;
}
td:first-child {
	min-width:80px;
}
.aR{
	text-align: right;
}
tr.facture{
color:rgba(40, 40, 40, .9);
/*	border-bottom:1px solid #CCC;*/
}
tr.facture a{
color:rgba(60, 60, 60, .9);
}
tr:nth-child(even) {
	background: #F3F3F3;
/*	border-bottom:1px solid #CCC;*/
}
tr.unpaid {
	background-color:#DDC;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(225, 225, 200, .9)), to(rgba(210, 210, 185, 0.8)));
	background-image: -moz-linear-gradient(top,                    rgba(225, 225, 200, .9),     rgba(210, 210, 185, 0.8));
	color:rgba(70, 70, 50, .9);
}
tr.unpaid a {
	color:rgba(70, 70, 50, .9);
}

/* Buttons */
input[type="checkbox"] {
	float:left;
	margin:0 10px 0 0;
}
.bouton {
	margin:0 3px 0 0;
	width:14px;
	height:14px;
	display:block;
	float:left;
	font-size:0px;
	text-indent:-100px;
	color:#5F5F5F;
	background:0 -28px no-repeat;
}
.bouton:hover {
	background-position:0 0;
}	
.bouton:active {
	background-position:0 -14px;
}	
.paye {
	background-image:url('../images/money.png');
}
.imprimer {
	background-image:url('../images/print.png');
}
.modifier {
	background-image:url('../images/icn-edit.png');
}
.nouvelleFacture {
	background-image:url('../images/icn-add.png');
}

/* */
tr.titre_trimestre{
	font-size: 16px;
	border-bottom:none;
	display:none;
}
tr.titre_trimestre th{
	background-color:#ccc;
	color:#fff;
	text-align:center;
}
tr.titre_annee{
	display: none;
}

/* */
tr.tot_trimestre, tr.tot_annee, tr.tot_general {
	line-height:39px;
}
tr.tot_trimestre {
	font-size: 14px;
	background-color: #ccc;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(225, 225, 225, .9)), to(rgba(210, 210, 210, 0.8)));
	background-image: -moz-linear-gradient(top,                    rgba(225, 225, 225, .9),     rgba(210, 210, 210, 0.8));
	color:#333;
	text-shadow:0 1px 0 rgba(255,255,255,.9);
}
tr.tot_annee {
	font-size: 14px;
	background-color: #999;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(175, 175, 175, .9)), to(rgba(150, 150, 150, 0.8)));
	background-image: -moz-linear-gradient(top,                    rgba(175, 175, 175, .9),     rgba(150, 150, 150, 0.8));
	text-shadow:0 1px 0 rgba(255,255,255,.5);
	color:#333;
}
tr.tot_general{
	font-size: 18px;
	font-weight: bold;
	background-color: #666;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(120, 120, 120, .9)), to(rgba(95, 95, 95, 0.8)));
	background-image: -moz-linear-gradient(top,                    rgba(120, 120, 120, .9),     rgba(95, 95, 95, 0.8));
	text-shadow:0 1px 0 rgba(255,255,255,.2);
}
tr.tot_trimestre th.aR{
	font-weight:bold;
	font-style:normal;
}
tr.tot_annee, tr.tot_general{
	font-size: 18px;
	font-weight: bold;
}
tr.tot_annee th, tr.tot_general th{
	padding-bottom:0;
	padding-top:0px;
}
tr.tot_annee th.aR{
	color: #333;
}
hr {
	background-color: #FFF;
	margin:0;
	padding:0;
	border:0;
/*	visibility:hidden;*/
	height:0;
}

/* */
h3{
	display:none;
	line-height:26px;
	background:#999;
	clear:both;
	font-size:14px;
	font-weight:bold;
	margin:0;
	padding-left:10px;
	text-align:center;
}
h3 a{
	color: #fff;
	text-decoration: none;
}
#liste_annees{
	background-color:#666;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(80, 80, 80, 1)), to(rgba(80, 80, 80, 1)));
	background-image: -moz-linear-gradient(top,                    rgba(80, 80, 80, 1),     rgba(80, 80, 80, 1));
	font-weight: bold;
	text-shadow:0 -1px 0 rgba(0,0,0,.2);
	clear:both;
	font-family:verdana,sans-serif;
	font-size:12px;
	list-style-type:none;
	padding-left:30px;
	position:fixed;
	top:90px;
	width:100%;
}
#liste_annees li{
	float:left;
}
#liste_annees li a{
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(160, 160, 160, .9)), to(rgba(140, 140, 140, 0.8)));
	background-image: -moz-linear-gradient(top,                    rgba(160, 160, 160, .9),     rgba(140, 140, 140, 0.8));
	background-color:#999;
	color:#EEE;
	display:block;
	margin-right:1px;
	height:25px;
	line-height:28px;
	text-align:center;
	text-decoration:none;
	width:70px;
}
#liste_annees li#recule a, #liste_annees li#avance a{
  font-size:18px;
	line-height:24px;
  width:20px;
}
#liste_annees li#recule a{
  border-left:1px solid #999;
}
#liste_annees li a:hover{
	text-shadow:none;
  background:#FFF;
  color:#AAA;
}
#liste_annees li a:active, #liste_annees li a.actif{
/*	-moz-border-radius-topleft:      6px;
	-webkit-border-top-left-radius:  6px;
	border-top-left-radius:          6px;
	-moz-border-radius-topright:     6px;
	-webkit-border-top-right-radius: 6px;
	border-top-right-radius:         6px;
*/
	background:#FFFFFF;
	color:#666666;
}

/* */
tr.legende{
	font-weight:normal;
	background:#BBB;
	color:rgba(20, 20, 20, .9);
	text-shadow:0 1px 0 rgba(255,255,255,.4);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(190, 190, 190, .9)), to(rgba(170, 170, 170, 0.8)));
	background-image: -moz-linear-gradient(top,                    rgba(190, 190, 190, .9),     rgba(170, 170, 170, 0.8));
}
tr.legende a{
	color:rgba(40, 40, 40, .9);
}

/* */
form {
	clear:both;
	padding:0;
	margin:0;
}
form#listing {
	background:#DDD;
	margin-top:197px;
}
form#listingClients {
	margin-top:101px;
}
form p.tools {
	-webkit-box-shadow:0 4px 4px #999;
	-moz-box-shadow:0 4px 4px #999;
	box-shadow:0 4px 4px #999;
	background-color:#DDD;
	height:21px;
	position: fixed;
	top:166px;
	width:100%;
	padding-left:10px;
	padding-top:10px;
	margin-top:0;
}
form p.tools input {
	font-size:9px;
}
form p.tools.clients {
	top:90px;
}
label, textarea, input, select {
	font-family: Arial, Helvetica, Verdana, sans-serif;
}
textarea {
	width:355px;
}

form fieldset {
	padding:0;
	border:none;
	float:left;
}
form #firstFieldset {
	padding-right:15px;
	margin-right:15px;
	border-right:1px solid #ccc;
}
form p {
	clear:both;
	margin: 0;
	padding-top: 5px;
}
form#utilisateur p.float {
	margin-right:10px;
	float: left;
	clear:none;
}
form label {
	display: block;
	float:none;
	font-size: .8em;
	font-weight: bold;
	color:#666;
}
#dialog input {
	width:220px;
}
#dialog input[type="submit"] {
	margin:10px 0;
	width:auto;
}
form #numero, form #num, form #boite, form #codepostal, form #cp {
	width:70px;
}
form #nom, form #prenom, form #login {
	width:130px;
}
#dialog input[name="jour"], #dialog input[name="mois"] {
	width:20px;
}
#dialog input[name="lannee"], #dialog input[name="pourcent_tva"] {
	width:40px;
}
#dialog input[name="montant"] {
	width:100px;
}
#dialog input[type="radio"]{
	width:auto;
}

#resume{
	clear:both;
	font-family:Arial, Helvetica, verdana, sans-serif;
	font-size:16px;
}
#resume em{
	color:#999;
}