h1, h2, h3, h4, h5, form, ul, ol, li {
	margin:0;
	padding:0;
}
body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding:0;
	margin:0;
	min-width:965px;
	line-height:18px;
}
a img{
	border: none;
}
#header{
	background:#EEEEEE none repeat scroll 0 0;
	height:70px;
	padding:0 30px;
	position:fixed;
	top:0;
	width:100%;
}
h1{
	margin-top:20px;
	font-size:32px;
	float:left;
}
h1 .version{
	font-size:16px;
	font-weight:normal;
}
h1 a{
	color:#000;
	text-decoration:none;
}
#menu{
	float:left;
	list-style-type: none;
	margin: 22px 0 10px 40px;
	padding: 0;
}
#menu li{
	margin: 0 20px 0 0;
	padding-left:22px;
}
#menu li a{
	text-decoration:none;
	color: #595;
}
#menu li a:hover{
	background:#595;
	color: #fff;
}
#menu li a:active{
	color: #8c8;
}

/* Onglets */
#onglets{
	background-color:#FFFFFF;
	font-family:verdana,arial,helvetica,sans-serif;
	font-size:11px;
	font-weight:bold;
	height:35px;
	line-height:25px;
	list-style-type:none;
	padding-left:30px;
	padding-top:15px;
	position:fixed;
	text-transform:uppercase;
	top:96px;
	width:100%;
}
#onglets li{
	float:left;
	margin-right:10px;
	padding-top:10px;
}
#onglets a{
	background:#EEEEEE none repeat scroll 0 0;
	color:#666666;
	display:block;
	padding:0 10px;
	text-decoration:none;
}
#onglets a:hover {
	color:#000;
}
#onglets a:active {
	background:#666;
	color:#DDD;
}
#onglets .actif {
	padding-top:3px;
	line-height:32px;
	font-size:12px;
}
#onglets .actif a {
	padding:0 15px;
	background:#ddd;
	color:#000;
}

table{
	width:100%;
	border-collapse: collapse;
	background:#FFF;
}
tr{
	border-top: none;
	border-bottom: 1px solid #CCC;
}
table a{
	color: #333;
}
table a:hover{
	color: #666;
}
.contenu{
	margin-bottom:25px;
}
th,td{
	padding: 0 10px;
	text-align: left;
	white-space: nowrap;
}
.aR{
	text-align: right;
}
tr.facture{
	border-bottom:1px solid #CCC;
}
tr.unpaid {
	background-color:#FFF3E6;
}

/* Buttons */
input[type="checkbox"] {
	float:left;
	margin:0 10px 0 0;
}
.bouton {
	margin:0 3px 0 0;
	width:14px;
	height:14px;
	display:block;
	float:left;
	font-size:0px;
	text-indent:-100px;
	color:#5F5F5F;
	background:0 -28px no-repeat;
}
.bouton:hover {
	background-position:0 0;
}	
.bouton:active {
	background-position:0 -14px;
}	
.paye {
	background-image:url('../images/money.png');
}
.imprimer {
	background-image:url('../images/print.png');
}
.modifier {
	background-image:url('../images/icn-edit.png');
}
.nouvelleFacture {
	background-image:url('../images/icn-add.png');
}

/* */
tr.titre_trimestre{
	border-bottom:none;
}
tr.titre_trimestre th{
	background:#ccc;
	color:#fff;
	text-align:center;
	border-top:1px solid #999;
}

/* */
tr.tot_trimestre, tr.tot_annee{
	background: #f3f3f3;
	color: #666;
}
tr.tot_trimestre th{
	font-weight:normal;
	font-style:italic;
}
tr.tot_trimestre th.aR{
	color:#333;
	font-weight:bold;
	font-style:normal;
}
tr.tot_annee, tr.tot_general{
	color: #fff;
	font-weight: bold;
}
tr.tot_annee th, tr.tot_general th{
	padding-bottom:0;
	padding-top:0px;
	background: #555;
}
tr.tot_annee th{
	color: #fff;
	background: #999;
}
tr.tot_annee th.aR{
	color: #333;
}

/* */
h3{
	background:#AAA;
	clear:both;
	font-size:14px;
	font-weight:bold;
	margin:0;
	padding-left:10px;
	text-align:center;
}
h3 a{
	color: #fff;
	text-decoration: none;
}
#liste_annees{
	background:#AAAAAA none repeat scroll 0 0;
	border-top:1px solid #999999;
	clear:both;
	font-family:verdana,sans-serif;
	font-size:12px;
	height:25px;
	list-style-type:none;
	margin-bottom:15px;
	padding-left:30px;
	position:fixed;
	top:70px;
	width:100%;
}
#liste_annees li{
	float:left;
}
#liste_annees li a{
	background:#AAAAAA;
	border-right:1px solid #888888;
	color:#DDDDDD;
	display:block;
	font-weight:bold;
	height:25px;
	line-height:26px;
	text-align:center;
	text-decoration:none;
	width:70px;
}
#liste_annees li#recule a, #liste_annees li#avance a{
  font-size:18px;
	line-height:24px;
  width:20px;
}
#liste_annees li#recule a{
  border-left:1px solid #888888;
}
#liste_annees li a:hover{
  background:#FFF;
  color:#AAA;
}
#liste_annees li a:active, #liste_annees li a.actif{
	background:#FFFFFF;
	color:#666666;
}

/* */
.legende{
	background:#BBB;
	border-top:1px solid #888888;
	color:#333333;
	font-size:11px;
}
.legende a{
	text-decoration: none;
	color: #333;
}

/* */
form {
	clear:both;
	padding:0;
	margin:0;
}
form#listing {
	background:#DDD;
	margin-top:177px;
}
form p.tools {
	background-color:#DDDDDD;
	border-bottom:1px solid #666666;
	height:20px;
	position: fixed;
	top:146px;
	width:100%;
	padding-left:10px;
	padding-top:10px;
	margin-top:0;
}
form p.tools input{
	font-size:9px;
}
label, textarea, input, select {
	font-family: Arial, Helvetica, Verdana, sans-serif;
}
textarea {
	width:355px;
	height:220px;
}
label{
	display: block;
	float: left;
	width: 100px;
}
form#utilisateur label{
	width: 260px;
}
form#utilisateur input[type="text"], form#client input[type="text"]{
	width: 260px;
}
#resume{
	clear:both;
	font-family:Arial, Helvetica, verdana, sans-serif;
	font-size:16px;
}
#resume em{
	color:#999;
}